asttokens==2.2.1
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
boto3==1.26.152
botocore==1.29.152
bracex==2.3.post1
cached-property==1.5.2
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comm==0.1.3
contourpy==1.0.7
csscompressor==0.9.5
cssselect2==0.7.0
cycler==0.11.0
datapackage==1.15.2
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
et-xmlfile==1.1.0
executing==1.2.0
fonttools==4.39.4
gensim==4.3.1
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.32
greenlet==2.0.2
htmlmin2==0.1.13
idna==3.4
ijson==3.2.1
ipykernel==6.23.1
ipython==8.14.0
isodate==0.6.1
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jsmin==3.0.1
jsonlines==3.1.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.4.4
linear-tsv==1.1.0
lxml==4.9.2
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdx-breakless-lists==1.0.1
mdx-wikilink-plus==1.4.1
mergedeep==1.3.4
mkdocs==1.5.2
mkdocs-awesome-pages-plugin==2.9.1
mkdocs-callouts==1.9.0
mkdocs-custom-fences==0.1.2
mkdocs-custom-tags-attributes==0.3.0
mkdocs-embed-file-plugins==2.0.6
mkdocs-encryptcontent-plugin==2.5.3
mkdocs-exclude==1.0.2
mkdocs-ezlinked-plugin==0.3.3
mkdocs-git-revision-date-localized-plugin==1.2.0
mkdocs-glightbox==0.3.4
mkdocs-material==9.1.21
mkdocs-material-extensions==1.1.1
mkdocs-meta-descriptions-plugin==2.3.0
mkdocs-minify-plugin==0.7.1
mkdocs-static-i18n==0.56
natsort==8.4.0
nest-asyncio==1.5.6
numpy==1.24.3
opencv-python==4.7.0.72
openpyxl==3.1.2
packaging==23.1
parso==0.8.3
pathspec==0.11.2
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.1
prompt-toolkit==3.0.38
psutil==5.9.5
pure-eval==0.2.2
py-obsidianmd==0.1.7
pycparser==2.21
pycryptodome==3.18.0
Pygments==2.15.1
pygtrie==2.5.0
pymdown-extensions==10.1
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-frontmatter==1.0.0
pytz==2023.3
pywin32==306
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==25.1.0
regex==2023.6.3
requests==2.31.0
rfc3986==2.0.0
s3transfer==0.6.1
scipy==1.10.1
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
soupsieve==2.4.1
SQLAlchemy==2.0.16
ssdeep-windows-32-64==0.0.1
stack-data==0.6.2
tableschema==1.20.2
tabulator==1.53.5
tinycss2==1.2.1
tornado==6.3.2
traitlets==5.9.0
typing_extensions==4.6.3
unicodecsv==0.14.1
urllib3==1.26.16
watchdog==3.0.0
wcmatch==8.4.1
wcwidth==0.2.6
webencodings==0.5.1
xlrd==2.0.1
